<html ng-app="pruebaInvApp">
	<head>
		<title>
			PruebaINV
		</title>
		<!-- Favicon -->
		<link rel="icon" type="image" href="img/favicon.ico"/>
		<!-- Bootstrap y AngularJS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.js"></script>
		<script type="text/javascript" src="ang/app.js"></script>
	</head>
	<body ng-controller="invCtrl">
		<div>
			<p ng-repeat="objeto in objetos" style="border: 2px dashed red; margin: 10px; width: 30%; padding: 5px;">
				<img src="{{ objeto.img }}" width="48" height="48" />
				<strong>{{ objeto.nombre }}</strong>
				<br/>
				<span style="display: block;">{{ objeto.desc }}</span>
				<br/>
				<span>Puntos de {{ objeto.tipo }}: <strong>{{ objeto.puntos }}</strong></span>
			</p>
		</div>
		<div>
			<span>Cabeza: </span>
			<select ng-model="player.inventario.cabeza">
				<option ng-repeat="objeto in objetos" ng-if="objeto.lugar == 'cabeza'" value="{{ objeto.id }}">{{ objeto.nombre }}</option>
			</select>
			<span>Brazo Izquierdo: </span>
			<select ng-model="player.inventario.brazoIzq">
				<option ng-repeat="objeto in objetos" ng-if="objeto.lugar == 'brazoIzq'" ng-selected="player.inventario.brazoIzq == objeto.id"value="{{ objeto.id }}">{{ objeto.nombre }}</option>
			</select>
			<span>Brazo Derecho: </span>
			<select ng-model="player.inventario.brazoDer">
				<option ng-repeat="objeto in objetos" ng-if="objeto.lugar == 'brazoDer'" value="{{ objeto.id }}">{{ objeto.nombre }}</option>
			</select>
			<button ng-click="equipar()">Equipar</button>
	</body>
</html>